<% layout( 'layout' ) %>

<script>
$( document ).ready(function() {
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
});
</script>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><%= title %></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/users/add_property">Add a book</a></li>
      <li><a href="/users/add_resource">Add a resource</a></li>
      <li><a href="collapsible.html">Login</a></li>
    </ul>
  </div>
</nav>

<div class = "row" style="text-align:center;">

<div class = "card"  style="text-align:center;">
  <img src="<%= books.image %>" alt="">
  <h3><%= books.book_name %></h3>
  <h5>作者: <%= books.author %></h5>
  <h5>簡介: </h5>
  <p><%= books.intro %></p>
  <a href="<%= books.url %>">博客來頁面</a>
  <h5>來源: <%= books.owner %></h5>
  <br>
  <h3>預約時程</h3>
  <% books.record.forEach( function ( books ){ %>
  <% if(books.have_rent===false){ %>
    <div class="item">
      <h5><%= books.user_id %></h5>
      <h7><%= books.start_day %></h7>
      <h7><%= books.end_day %></h7>
      <a href="/apis/deletebook/<%= books._id %>"><i class="fa fa-times"></i></a>
    </div>
  <% } %>
  <% }); %>
  <br>
  <h5>我要預約</h5>
  <form name = "rent", action="/apis/rentbook/<%= books._id %>" method="post" accept-charset="utf-8">
    <div class = "row">
      <div class="user_id input-field col s12">
        <label for="">name</label>
        <input class="input" type="text" name="user_id" />
      </div>
    </div>
    <div class = "row">
      <div class="start_day input-field col s6">
        <label for="">from</label>
        <input class="input datepicker" type="date" name="start_day" />
      </div>
      <div class="end_day input-field col s6">
        <label for="">to</label>
        <input class="input datepicker" type="date" name="end_day" />
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
  </form>
</div>
</div>
